# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# MacOS
.DS_Store

# VSCode
.vscode/

# Cookie file (zeer belangrijk voor yt-dlp authenticatie)
cookies.txt

# Logbestanden
*.log

# Output audio/bestand downloads
*.wav
*.mp3

# Temp-bestanden
*.tmp
*.temp

# Railway / deployment gerelateerde cache
.nixpacks/
